* {
    margin: 0;
}

body {
    width: 1150px;
}

.main-header {
    background-image: url(../img/pattern.png);
    background-color: rgb(67, 166, 236);
    margin-bottom: 20px;
}

.main-header img {
    width: 300px;
    margin-top: 50px;
    margin-left: 10px;
}

.title-header {
    margin-left: 10px;
    margin-bottom: 20px;
}

.title-header h1 {
    font-size: 42px;
}

.title-header div, time {
    color: rgb(177, 177, 177);
}
a {
    color: rgb(75, 213, 255);
    text-decoration: none;
}

main {
    margin-left: 10px;
}
main p {
    margin-top: 20px;
    font-weight: 800;
}

main ul {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    font-weight: 800;
}

table {
    font-weight: 800;
    border-spacing: 0;
}

thead {
    background-color: rgb(67, 166, 236);
    text-align: left;
    color: white;
}

tbody {
    background-color: rgb(122, 216, 245) ;
}

th {
    width: 300px;
}

.special {
    width: 500px;
}

.central-row {
    background-color: white;
}

footer {
    margin-top: 30px;
    font-weight: 800;
}

.interests {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(177, 177, 177);
}

.advise-one {
    font-weight: 800;
    font-size: 24px;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    background-image: url(./../img/monitor.jpg);
    height: 175px;
    width: 275px;
}

.advise-two {
    font-weight: 800;
    font-size: 24px;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
    background-image: url(./../img/graph.jpg);
    height: 175px;
    width: 275px;
}